/venv
/data_txts
/data
/.idea
/.vscode
/notebooks/.ipynb_checkpoints/
/notebooks/cache/
/notebooks/wandb/
/notebooks/logs/
/notebooks/results/

/make_source_label_hierarchy/__pycache__
/make_source_label_hierarchy/trained-models

*.tar.gz
*.tar
*.zip
*.gz
*.csv
*.log
*.txt
*.json
*.jsonl
*.xml
*.yaml
*.yml
*.html
*.pkl
*.pth
*.pt
*.ckpt
*.bin
*.safetensors