==
Babel==2.14.0
Brotli==1.1.0
Flask==3.0.3
GitPython==3.1.43
HyperPyYAML==1.2.2
Jinja2==3.1.4
Keras-Preprocessing==1.1.2
KrovetzStemmer==0.8
Mako==1.3.5
Markdown==3.6
MarkupSafe==2.1.5
PyMySQL==1.0.2
PyNaCl==1.5.0
PySocks==1.7.1
PyStemmer==2.0.1
PyYAML==6.0.1
Pygments==2.18.0
QtPy==2.4.1
SQLAlchemy==2.0.31
Send2Trash==1.8.3
Unidecode==1.3.8
Werkzeug==3.0.3
absl-py==2.1.0
accelerate==0.32.1
adjustText==1.2.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appnope==0.1.4
archspec==0.2.3
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
aria-amt==0.0.1
aria==0.0.1
arrow==1.3.0
asteroid-filterbanks==0.4.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrdict==2.0.1
attrs==23.2.0
audioread==3.0.1
autofaiss==2.17.0
av==11.0.0
awscli==1.32.107
bcrypt==4.1.2
beautifulsoup4==4.12.3
bert-score==0.3.13
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bokeh==3.5.0
boltons==24.0.0
bootstrapped==0.0.2
boto3==1.34.136
boto==2.49.0
botocore==1.34.136
brotlipy==0.7.0
bs4==0.0.2
cImage==2.0.2
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.10
cbor2==5.6.4
cbor==1.0.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
civic-scraper==0.2.9
click-help-colors==0.9.4
click-option-group==0.5.6
click-plugins==1.1.1
click==8.1.7
cligj==0.7.2
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
conda-content-trust==0.2.0
conda-libmamba-solver==24.7.0
conda-package-handling==2.3.0
conda==24.5.0
conda_package_streaming==0.10.0
confection==0.1.4
contourpy==1.2.1
cramjam==2.8.3
cryptography==42.0.8
ctranslate2==4.2.1
cycler==0.12.1
cymem==2.0.8
cytoolz==0.12.3
dask-expr==1.1.7
dask==2024.7.0
dataclasses-json==0.6.7
datasets==2.18.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
demjson3==3.0.6
dill==0.3.8
distributed==2024.7.0
distro==1.9.0
djitw==0.0.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.16
ecdsa==0.19.0
einops==0.7.0
elastic-transport==8.13.1
elasticsearch-dsl==8.14.0
elasticsearch==8.13.2
eli5==0.13.0
embedding-reader==1.7.0
en-core-web-lg==3.7.1
en-core-web-sm==3.7.1
entrypoints==0.4
esprima==4.0.1
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.8.0.post1
faster-whisper==1.0.0
fastjsonschema==2.19.1
fastparquet==2024.5.0
feedparser==6.0.11
ffmpeg-python==0.2.0
filelock==3.15.4
fiona==1.9.6
fire==0.5.0
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
futures==3.0.5
gast==0.6.0
gdown==5.1.0
geopandas==0.14.3
gevent==24.2.1
gitdb==4.0.11
gmpy2==2.1.5
google-api-core==1.34.1
google-api-python-client==2.133.0
google-auth-httplib2==0.2.0
google-auth==2.30.0
google-cloud-core==1.7.3
google-cloud-datastore==1.10.0
google-cloud-secret-manager==2.20.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
graphviz==0.20.3
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpcio-status==1.48.2
grpcio==1.64.1
gunicorn==20.0.4
h11==0.14.0
h2==4.1.0
h5py==3.11.0
happytransformer==3.0.0
hpack==4.0.0
html2text==2024.2.26
httpcore==1.0.5
httplib2==0.22.0
httpx==0.24.1
httpx==0.26.0
huggingface-hub==0.23.4
humanfriendly==10.0
hyperframe==6.0.1
icalendar==5.0.12
idna==3.7
igraph==0.11.6
ijson==3.3.0
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
indxr==0.1.5
iniconfig==2.0.0
inscriptis==2.5.0
install==1.3.5
internetarchive==4.1.0
ipykernel==6.29.4
ipython==8.24.0
ipython==8.25.0
ipywidgets==8.1.3
ir_datasets==0.5.8
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
jellyfish==1.0.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
julius==0.2.7
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter==1.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras==3.4.1
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.4
libclang==18.1.1
libmambapy==1.5.8
librosa==0.10.2.post1
lightning-utilities==0.11.2
lightning==2.2.5
linkedin_api==2.1.1
llvmlite==0.43.0
locket==1.0.0
lxml==5.2.2
lxml_html_clean==0.1.1
lz4==4.3.3
markdown-it-py==3.0.0
marshmallow==3.21.3
matplotlib-inline==0.1.7
matplotlib==3.9.1
mdit-py-plugins==0.4.1
mdurl==0.1.2
menuinst==2.1.0
midi2audio==0.1.1
mido==1.2.10
mido==1.2.9
mido==1.3.2
mir-eval==0.7
mistune==3.0.2
ml-dtypes==0.4.0
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multipipe==0.1.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.10
music21==9.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbpreview==0.9.1
nbview==1.0.0
nbviewer==1.0.1
nest_asyncio==1.6.0
networkx==3.3
newrelic==9.10.0
newspaper4k==0.9.3.1
nltk==3.8.1
notebook==7.2.0
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
ollama-python==0.1.2
ollama==0.3.3
omegaconf==2.3.0
oneliner-utils==0.1.2
onnxruntime==1.18.0
openai==1.36.1
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.12.1
optuna==3.6.1
orjson==3.10.6
orjsonl==1.0.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pexpect==4.9.0
picharsso==2.0.1
pickleshare==0.7.5
pillow==10.3.0
pillow==10.4.0
pip==24.0
pip==24.2
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
playwright==1.43.0
plotly==5.24.1
pluggy==1.5.0
pooch==1.8.1
preshed==3.0.9
pretty_midi==0.2.10
primePy==1.3
prometheus_client==0.20.0
prompt_toolkit==3.0.46
proto-plus==1.23.0
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyFluidSynth==1.3.3
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow-hotfix==0.6
pyarrow==15.0.2
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat==0.6.6
pycparser==2.22
pycryptodomex==3.20.0
pycurl==7.45.3
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
pyee==11.1.0
pylatexenc==2.10
pylibmc==1.6.3
pyobjc-core==10.3
pyobjc-framework-Cocoa==10.1
pyparsing==3.1.2
pyperclip==1.8.2
pyproj==3.6.1
pytest-base-url==2.1.0
pytest-playwright==0.4.4
pytest==8.1.1
python-dateutil==2.9.0.post0
python-jose==3.3.0
python-json-logger==2.0.7
python-magic==0.4.27
python-slugify==8.0.4
python-youtube==0.9.4
pytorch-lightning==2.2.5
pytorch-metric-learning==2.5.0
pytz==2024.1
pywb==0.33.2
pyzmq==26.0.3
qtconsole==5.5.2
ranx==0.3.20
redis==5.0.4
referencing==0.35.1
regex==2024.5.15
requests-file==2.0.0
requests-futures==1.0.1
requests-oauthlib==1.3.1
requests==2.32.3
responses==0.24.1
retriv==0.2.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.7.2
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
s3transfer==0.10.1
safetensors==0.4.3
schema==0.7.7
scikit-learn==1.5.1
scikit-multilearn==0.2.0
scipy==1.12.0
scipy==1.14.0
scp==0.14.5
scrapelib==2.3.0
scraper-legistar==0.0.1
seaborn==0.13.2
selenium==4.19.0
semver==3.0.2
sentence-transformers==3.1.0
sentencepiece==0.2.0
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==70.3.0
setuptools==70.3.0
sgmllib3k==1.0.0
shapely==2.0.3
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.4
speechbrain==0.5.16
srsly==2.4.8
stack-data==0.6.2
statsd==4.0.1
statsmodels==0.14.2
storysniffer==1.0.6
sty==1.0.6
surt==0.3.1
sympy==1.13.0
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
tensorboard-data-server==0.7.2
tensorboard==2.17.0
tensorboardX==2.6.2.2
tensorflow==2.17.0
term-image==0.3.0
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
texttable==1.7.0
tf_keras==2.17.0
thinc==8.2.3
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tldextract==5.1.2
together==1.2.7
tokenizers==0.19.1
tomli==2.0.1
toolz==0.12.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.4.0.post0
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.44.0
trec-car-tools==2.6
trio-websocket==0.11.1
trio==0.25.0
truststore==0.8.0
typer==0.12.4
types-click==7.1.8
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-utils==0.1.0
typing_extensions==4.12.2
tzdata==2024.1
uWSGI==2.0.23
unlzw3==0.2.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
urllib3==2.2.2
urwid==2.6.14
validators==0.20.0
wandb==0.17.8
warc3-wet-clueweb09==0.2.5
warc3-wet==0.2.3
wasabi==1.1.2
watchdog==4.0.0
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
wget==3.2
wheel==0.43.0
whisperx==3.1.1
widgetsnbextension==4.0.11
word2number==1.1
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.1.0
xmltodict==0.13.0
xopen==1.9.0
xxhash==3.4.1
xyzservices==2024.6.0
yarl==1.9.4
youtube-dl==2021.12.17
yt-dlp==2024.4.9.232723.dev0
zict==3.0.0
zipp==3.17.0
zlib-state==0.1.6
zope.event==5.0
zope.interface==6.4
zstandard==0.19.0